/* @font-face {
  font-family: 'KhmerOSsys';
  src: url('KhmerOSsys.eot');
  src: url('KhmerOSsys.woff2') format('woff2'),
       url('KhmerOSsys.woff') format('woff'),
       url('KhmerOSsys.ttf') format('truetype'),
       url('KhmerOSsys.svg#KhmerOSsys') format('svg'),
       url('KhmerOSsys.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
} */
/* @font-face {
  font-family: 'Siemreap';
  src: url('Siemreap.eot');
  src: url('Siemreap.eot?#iefix') format('embedded-opentype'),
       url('Siemreap.svg#Siemreap') format('svg'),
       url('Siemreap.ttf') format('truetype'),
       url('Siemreap.woff') format('woff'),
       url('Siemreap.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
} */

@font-face {
  font-family: 'KhmerOSbattambang';
  src: url('font-battambang/KhmerOSbattambang.svg#KhmerOSbattambang') format('svg'),
      url('font-battambang/KhmerOSbattambang.eot?#iefix') format('embedded-opentype'),
       url('font-battambang/KhmerOSbattambang.ttf') format('truetype'),
       url('font-battambang/KhmerOSbattambang.woff') format('woff'),
       url('font-battambang/KhmerOSbattambang.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
/* @font-face {
  font-family: 'Calibri';
  src: url('calibri/Calibri.svg#Calibri') format('svg'),
       url('calibri/Calibri.ttf') format('truetype'),
       url('calibri/Calibri.woff') format('woff');
  font-weight: normal;
  font-style: normal;
} */