.page-wrapper{
    /* padding-top:200px;  */
    margin-bottom: 150px; 
}
.page-container{
    background:white; 
    margin-bottom: 50px;
    margin-top:50px;
    padding: 30px 30px; 
   

  border: 1px solid #1868b2;
    box-shadow: 5px 10px #6093c840;
   
}

.page-section-title{
    background: #1868b2b8;
    color: #ffffffbf;
    padding: 10px;
    font-size: 20px;
    border-left: 10px solid #f77022;
}

.ceo-message{
    padding: 25px 0px;
}

.ceo-message h2{
    color:#1868b2; 
}

.section.section-about .about-img{
    width:90%; 
}

.section.is-sm{
    padding-bottom:00px; 
}

.section.section-team .team-thumb{
    background: white; 
    padding: 20px; 
}

.job-table-header{
    background:#1868b2b8; 
    padding: 10px;
    color: white;
    border-left: 10px solid #f77022;
}